.main-wrap {
	display: flex;
	padding: 15px;
	min-height: 520px;
}

.navbar-main {
	flex: 0 0 230px;
	padding: 15px;
	position: relative;
}

.main {
	flex: 0 0 100%;
	max-width: 100%;
	@include media-breakpoint-up(lg) {
		&:not(.calendar) {
			border: 1px solid #efefef;
			overflow: hidden;
			border-radius: 15px;
		}
		&.calendar .rbc-calendar {
			padding: 0;
		}
	}
}

@include media-breakpoint-up(lg) {
	.main {
		flex: 0 0 calc(100% - 230px);
	}
}

.navbar-main {
	margin-top: 30px;
}
.navbar-item {
	margin-bottom: 15px;
	border: 1px solid transparent;
	a {
		text-decoration: none;
		color: #777;
		position: relative;
		padding: 10px;
		display: block;
		&:before {
			content: "";
			border-radius: 2px;
			position: absolute;
			top: 0;
			left: -30px;
			width: 4px;
			height: 100%;
			background-color: transparent;
		}

		&.active {
			&:before {
				background-color: $primary !important;
			}
		}
		&:hover {
			&:before {
				content: "";
				border-radius: 2px;
				position: absolute;
				top: 0;
				left: -30px;
				width: 4px;
				height: 100%;
				background-color: $light;
			}
		}
	}
	i {
		margin-right: 20px;
	}
	&.animate-button a:not(.active) {
		background-color: #f7565d;
		border-radius: 5px;
		color: white;
		i {
			color: white;
		}
	}
	&.navbar-contact:not(.animate-button) {
		border: 1px solid #aaa;
		border-radius: 5px;
	}
}

.active {
	// background-color: #eaeaea;
}

.provider-item {
	cursor: pointer;
	position: relative;
	border-radius: 5px;
	overflow: hidden;
	color: white;
	i {
		position: absolute;
		top: 2px;
		right: 8px;
		font-size: 1.4rem;
		color: rgba(255, 255, 255, 0.7);
	}
	&.provider-active {
		.provider-overlay {
			background: rgba(255, 0, 0, 0.3);
		}
		i {
			color: white;
		}
	}
}

.provider-overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 5px 15px;
	font-size: 15px;
	display: flex;
	flex-direction: column;
	background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.6));
	p {
		margin-top: auto;
	}
}

.cursor-pointer {
	cursor: pointer;
}

.not-avb {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.dropdown-head-wrap {
	margin-top: -15px;
	margin-bottom: 15px;
}
.dropdown-head {
	border: 1px solid $light;
	padding: 5px 10px 5px 15px;
	border-radius: 20px;
	cursor: pointer;
	font-size: 14px;
	position: relative;
	i {
		position: absolute;
		right: 10px;
	}
}

.dropdown-body {
	margin-top: 10px;
}

.rbc-calendar {
	padding: 20px;
	background-color: #fff;
	border-radius: 8px;

	.rbc-time-view {
		position: relative;
		// padding-left:50px;
		.rbc-time-content {
		}
		.rbc-time-gutter {
			// position:absolute;
		}
		.rbc-time-content {
			border-top: 1px solid #ddd;
			@include media-breakpoint-down(md) {
				min-width: 700px;
			}
		}
	}
	.rbc-header {
		min-height: 32px;
	}
	.rbc-timeslot-group {
		.position-relative {
			height: 20px;
			top: -13px;
			text-align: left;
			background: white;
			display: inline;
			flex: 0 0 80%;
			max-width: 80%;
		}
	}
	.rbc-label {
		font-size: 12px;
	}
	.position-relative {
		background-color: transparent;
		border: none;
	}
	.rbc-time-view .rbc-row {
		min-height: 0px;
	}

	.rbc-time-view .rbc-row div:nth-child(1) {
		height: 0px !important;
	}
	.rbc-time-gutter:first-child div {
		opacity: 0;
	}
	@include media-breakpoint-up(lg) {
		.rbc-time-gutter:first-child div {
			opacity: 1;
		}
		.rbc-timeslot-group:first-child div {
			opacity: 0;
		}
		.rbc-timeslot-group div {
			top: -13px;
			text-align: left;
			background: white;
			display: inline;
			flex: 0 0 80%;
			max-width: 80%;
		}
	}
}

.rbc-calendar .rbc-time-view .rbc-row div:nth-child(1) {
	height: auto !important;
	display: inline;
}

@include media-breakpoint-down(lg) {
	.rbc-time-view {
		width: 1000px;
	}

	.rbc-calendar {
		overflow: auto;
		max-width: 100%;
		position: relative;
		height: 821px !important;
	}

	.mobile-hours .rbc-calendar {
		height: auto !important;
		background-color: transparent;
		width: 104px;
		position: absolute;
		z-index: 1;
		top: 83px;
		left: -20px;
		.rbc-time-gutter {
			background-color: white;
			border-right: 1px solid #ddd;
			padding-left: 15px;
		}
	}

	.rbc-toolbar {
		max-width: 800px;
		position: sticky;
		left: 0;
	}

	.rbc-time-header {
	}

	// .rbc-time-content {
	// 	width: 1000px;
	// }
}

.provider-image {
	padding-bottom: 75%;
}

.rbc-day-slot .rbc-event-content {
	font-size: 0.75rem;
}

.form-check-input:not(:checked) {
	background-color: white !important;
}

.dropdown-location {
	padding: 5px 10px;
	transition: all 100ms ease-in-out;
	cursor: pointer;

	margin-bottom: 5px;
	border-radius: 5px;
	&:hover,
	&.active {
		background-color: #efefef;
	}
}

.modal-header {
	border-bottom: 0;
	padding: 20px 20px 20px 30px;
	align-items: inherit;
}

.modal-body {
	padding: 10px 20px 20px 30px;
	font-size: 15px;
}

@media (min-width: 576px) {
	.modal-dialog {
		max-width: 420px;
		margin: 1.75rem auto;
	}
}

*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	// background-color: #333;
	border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
	background: rgba(206, 41, 41, 0.6);
}

.loading-bookings {
	position: relative;
	.spinner-wrap {
		position: absolute;
		top: calc(50% - 25px);
		left: calc(50% - 25px);
	}
	.calendar-wrap {
		transition: all 50ms ease-in-out;
	}

	&.active .calendar-wrap {
		pointer-events: none;
		opacity: 0.4;
	}
}

.rez-list {
	padding: 30px;
	background-color: #fdfdfd;
	@include media-breakpoint-up(lg) {
		padding: 55px 45px;
	}
	.table {
		border-radius: 0 0 15px 15px;
		background-color: #f7f7f7;
		td {
			border-left: none;
			border-right: none;
			padding: 10px;
			@include media-breakpoint-up(lg) {
				padding: 20px 40px;
			}
		}
		tr:first-child {
			border-top: none;
		}
		tr:last-child {
			border-bottom: none;
		}
		.btn {
			margin: -10px 0;
			border-radius: 4px;
		}
	}
}

.recurrent-booking.recurrent-booking {
	td {
		padding: 5px;
		@include media-breakpoint-up(lg) {
			padding: 10px 40px;
		}
	}

	&,
	&-head {
		background-color: white;
	}
}

.nav-tabs {
	background-color: white;
	.nav-item {
		width: 50%;
		text-align: center;
	}
	&,
	.nav-link {
		margin-bottom: 0;
		border: none;
		width: 100%;
		border-radius: 0;
		button {
			color: #495057 !important;
			padding: 20px;
		}
		&.active {
			background-color: #f7f7f7;
		}
	}
}

@media screen and (max-width: 600px) {
	.rez-list {
		table {
			border: 0;
		}

		table caption {
			font-size: 1.3em;
		}

		table thead {
			border: none;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
		}

		table tr {
			border-bottom: 3px solid #ddd;
			display: block;
		}

		table td {
			border-bottom: 1px solid #ddd;
			display: block;
			text-align: right;
			font-size: 0.9rem;
			border: none;
			.btn {
				padding: 5px 10px !important;
				width: 100%;
			}
		}

		table td::before {
			/*
		  * aria-label has no advantage, it won't be read inside a table
		  content: attr(aria-label);
		  */
			content: attr(data-label);
			float: left;
			font-weight: bold;
			text-transform: uppercase;
		}

		table td:last-child {
			border-bottom: 0;
		}
	}
}

.r-banner {
	background-color: #211c18;
	background-image: url(https://ci6.googleusercontent.com/proxy/om6z8gklvayKBoXj2L4cQbnCJWUfbweFKa5Wkw2ZA2XMvMeeOqGtp3iRBkixzOHcvDwOjwt7QNUwnsJvTOA2brVe2cWbKWFh8Mqv20pI=s0-d-e1-ft#https://www.psymep.ro/wp-content/uploads/2021/11/expert.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	font-size: 0.9rem;
	text-align: center;
	padding: 15px;
}

.raport {
	width: 500px;
	font-size: 0.6rem;
	table {
		table-layout: fixed;
		width: 500px;
	}
}

.rbc-toolbar-label {
	text-transform: capitalize;
}

.rbc-calendar {
	height: auto !important;
}

.btn-outline-primary:hover {
	color: white;
}

.modal img {
	max-width: 100%;
	height: auto;
}